---
import BaseLayout from "../layout/BaseLayout.astro";
import Container from "../components/Container.astro";

import data from "../data/data-with-sizes.json";
---

<BaseLayout title="Galleria">
  <Container className="mt-[20px] sm:mt-[40px] clear-end">
    <section class="gallery">
      <div class="gallery-masonry">
        {
          data.map(({ name, artist, images: { thumbnail } }, idx) => {
            const styleImage = `--thumbnail-width:${thumbnail.width}; --thumbnail-height:${thumbnail.height};--grid-area:area-${idx};`;

            const numberSpanMd = Math.floor(thumbnail.height / 10) + 4;
            const numberSpanXl = Math.floor(thumbnail.height / 60) + 1;
            const styleItem = `--grid-area: ga-${idx};--grid-span-md: span ${numberSpanMd};--grid-span-xl: span ${numberSpanXl};`;

            return (
              <a
                href={`/art/${idx}`}
                class={`gallery__item-link gallery__item-${idx}`}
                style={styleItem}
              >
                <figure
                  id={`galleryItem${idx}`}
                  class="gallery__item relative"
                  aria-labelledby={`caption-${idx}`}
                  data-item-idx={idx}
                  role="group"
                >
                  <picture class="gallery__picture relative">
                    <img
                      style={styleImage}
                      class="gallery__item--image lazy-image"
                      src={thumbnail.src}
                      alt={`Painting titled "${name}" by ${artist.name}`}
                      loading="lazy"
                    />
                  </picture>

                  <figcaption
                    id={`caption-${idx}`}
                    class="gallery__item--caption flex flex-col gap-2 justify-center items-start"
                  >
                    <span class="gallery__paint-name text-white text-preset-2-mobile ">
                      {name}
                    </span>
                    <span class="gallery__paint-artist text-white-75 text-preset-5">
                      {artist.name}
                    </span>
                  </figcaption>
                </figure>
              </a>
            );
          })
        }
      </div>
    </section>
  </Container>
</BaseLayout>

<script type="module">
  const initializeGallery = () => {
    const observer = new IntersectionObserver(
      (entries, observer) => {
        let delay = 0;

        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            const item = entry.target;

            item.style.transitionDelay = `${delay * 100}ms`;
            item.classList.add("fade-in");

            observer.unobserve(item);
            delay++;
          }
        });
      },
      {
        threshold: 0.1,
      }
    );

    document.querySelectorAll(".gallery__item").forEach((item) => {
      observer.observe(item);
    });
  };

  initializeGallery();

  document.addEventListener("astro:after-swap", () => {
    initializeGallery();
  });
</script>

<style>
  .gallery-masonry {
    display: grid;
    gap: 40px;
    justify-content: center;
    width: 100%;
    max-width: 1360px;
    margin-inline: auto;
  }

  .gallery__item--caption {
    position: absolute;
    bottom: 30px;
    left: 30px;
    max-width: 246px;
  }

  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(10px); /* Less motion = smoother */
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .gallery__item {
    opacity: 0;
    transform: translateY(10px);
    transition:
      opacity 0.8s ease,
      transform 0.8s ease;
    will-change: opacity, transform;
  }

  .gallery__item.fade-in {
    opacity: 1;
    transform: translateY(0);
  }

  .gallery__item .gallery__item--caption {
    opacity: 0;
    transform: translateY(10px);
    transition:
      opacity 0.4s ease,
      transform 0.4s ease;
    transition-delay: 0.2s;
  }

  .gallery__item.fade-in .gallery__item--caption {
    opacity: 1;
    transform: translateY(0);
  }

  .lazy-image {
    filter: blur(10px);
    transition: filter 0.4s ease;
  }

  .gallery__item.fade-in .lazy-image {
    filter: blur(0);
  }

  .gallery__item-link {
    margin-inline: auto;
    break-inside: avoid;
  }

  .gallery__item--image {
    position: relative;
    aspect-ratio: var(--thumbnail-width) / var(--thumbnail-height);
    width: 100%;
    object-fit: cover;
  }

  .gallery__item-link {
    position: relative;
  }

  .gallery__picture::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--gradient);
    opacity: 0.2;
  }

  .gallery__picture:is(:hover, :active, :focus-visible)::after {
    background: var(--gradient1);
    opacity: 0.6;
  }

  .gallery__item-link {
    width: 100%;
    max-width: 500px;
  }

  @media screen and (min-width: 48em) {
    .gallery-masonry {
      display: grid;
      grid-template-columns: repeat(2, minmax(310px, 310px));
      grid-auto-rows: 10px;
      gap: 0;
      column-gap: 40px;
    }

    .gallery__item-link {
      grid-row-end: var(--grid-span-tablet);
    }
  }

  @media screen and (min-width: 48em) {
    .gallery-masonry {
      display: grid;
      grid-template-columns: repeat(2, minmax(310px, 310px));
      grid-auto-rows: 10px;
      gap: 0;
      column-gap: 40px;
    }

    .gallery__item-link {
      grid-row-end: var(--grid-span-md);
    }
  }

  @media screen and (min-width: 50em) {
    .gallery-masonry {
      grid-template-columns: repeat(2, minmax(310px, 420px));
      grid-auto-rows: 11px;
    }
  }

  @media screen and (min-width: 52em) {
    .gallery-masonry {
      grid-auto-rows: 12px;
    }
  }

  @media screen and (min-width: 60.25em) {
    .gallery-masonry {
      grid-auto-rows: 13px;
    }
  }

  @media screen and (min-width: 63.75em) {
    .gallery-masonry {
      grid-template-columns: repeat(4, minmax(227px, 310px));
      grid-auto-rows: 7px;
    }
  }

  @media screen and (min-width: 66em) {
    .gallery-masonry {
      grid-auto-rows: 7px;
    }
  }

  @media screen and (min-width: 75em) {
    .gallery-masonry {
      grid-auto-rows: 9px;
    }
  }

  @media screen and (min-width: 85em) {
    .gallery-masonry {
      grid-template-columns: repeat(4, 310px);
      grid-auto-rows: 11px;
    }
  }

  @media screen and (min-width: 90em) {
    .gallery__item-link {
      grid-row-end: var(--grid-span-xl);
    }

    .gallery-masonry {
      grid-auto-rows: 60px;
    }

    .gallery__item-4 {
      margin-top: -8px;
    }

    .gallery__item-5 {
      grid-column: 2;
      grid-row: 8;
    }

    .gallery__item-6 {
      margin-top: 10px;
    }

    .gallery__item-7 {
      margin-top: -25px;
    }

    .gallery__item-8 {
      grid-column: 1;
      grid-row: 12;
    }

    .gallery__item-9 {
      grid-column: 2;
      grid-row: 13;
    }

    .gallery__item-10 {
      grid-column: 4;
      grid-row: 11;
      margin-top: -40px;
    }

    .gallery__item-11 {
      grid-column: 1;
      grid-row: 19;
    }

    .gallery__item-12 {
      grid-column: 2;
      grid-row: 18;
      margin-top: -6px;
    }

    .gallery__item-13 {
      grid-column: 3;
      grid-row: 15;
      margin-top: -11px;
    }

    .gallery__item-14 {
      grid-column: 4;
      grid-row: 18;
      margin-top: -16px;
    }
  }
</style>
