---
interface Props {
  idx: number;
}

let { idx } = Astro.props;

import data from "../data/data-with-sizes.json";

const art = data[idx];
const { name, artist, year, description, source } = art;
const { small, large } = art.images.hero;
---

<section
  class="slides"
  role="region"
  aria-labelledby="slides__main-title"
  aria-describedby="slide__description"
>
  <h1 id="slides__main-title" class="sr-only">
    {`Paiting titled ${name} by ${artist.name}`}
  </h1>
  <figure id="slide__figure" class="slide__figure relative">
    <picture id="slide__picture">
      <source
        id="slide__picture-source"
        media="(min-width: 600px)"
        srcset={small.src}
      />
      <img
        id="slide__picture-img"
        class="slide__picture-img"
        src={large.src}
        alt={`Paiting titled ${name} by ${artist.name}`}
      />
    </picture>
    <figcaption id="slide__figcaption" class="slide__figcaption">
      <button
        type="button"
        id="slide__view-image"
        class="slide__view-image text-preset-7 flex flex-row justify-center items-center gap-2 p-4"
        aria-label={`View source of painting ${name} by ${artist.name}`}
      >
        <svg
          class="w-[12px] h-[12px] basis-[12px] text-white"
          aria-hidden="true"
        >
          <use href="/assets/shared/icon-view-image.svg#icon-view"></use>
        </svg>
        <span>VIEW SOURCE</span>
      </button>
    </figcaption>
  </figure>
  <div id="slide__author" class="slide__author">
    <h2 id="slide__author-paint" class="slide__author-paint text-preset-2">
      {name}
    </h2>
    <h3 class="slide__author-name text-preset-5">{artist.name}</h3>
    <img
      class="slide__author-portrait"
      src={artist.image.src}
      alt={`Portrait of ${artist.name}`}
      aria-hidden="true"
    />
  </div>
  <h3 id="slide__year" class="slide__year text-preset-1">{year}</h3>
  <p id="slide__description" class="slide__description text-preset-3-mobile">
    {description}
  </p>
  <p class="slide__source">
    <a
      id="slide__source-link"
      href={source}
      class="slide__source-link text-preset-5-mobile"
      target="_blank"
      rel="noopener"
      aria-label={`Visit external source page for ${name} by ${artist.name}`}
    >
      Go to source
    </a>
  </p>
  <footer class="slide__footer flex flex-row justify-between items-center">
    <div class="slide__footer-information">
      <h3 class="text-preset-3">{name}</h3>
      <p class="text-preset-5">{artist.name}</p>
    </div>
    <div
      class="slide__footer-handlers flex flex-row justify-center items-center gap-4"
    >
      <button
        id="slide__handler-btn-left"
        aria-label="Previous painting"
        type="button"
      >
        <svg class="slide__handler-back w-[26px] h-[24px]" aria-hidden="true">
          <use href="/assets/shared/icon-back-button.svg#icon-back"></use>
        </svg>
      </button>
      <button
        id="slide__handler-btn-next"
        aria-label="Next painting"
        type="button"
      >
        <svg
          class="slide__handler-next"
          class="w-[26px] h-[24px]"
          aria-hidden="true"
        >
          <use href="/assets/shared/icon-next-button.svg#icon-next"></use>
        </svg>
      </button>
    </div>
  </footer>
</section>

<style>
  .slide__view-image {
    background-color: var(--clr-black);
    color: var(--clr-white);
  }

  .slide__author {
    background-color: var(--clr-white);
  }
</style>
