---
interface Props {
  title: string;
  className?: string;
  urlActive?: string;
  showFooter?: boolean;
  isStartSlideShow?: boolean;
}

import { ClientRouter } from "astro:transitions";

import "../styles/global.css";

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const isDev = process.env.NODE_ENV === "development";
const base = isDev
  ? "/"
  : "/frontend-mentor-exercise-27-galleria-slideshow-site/";
let {
  title,
  className = "",
  showFooter = true,
  isStartSlideShow = true,
} = Astro.props;

title = `Frontend Mentor | Galleria - ${title}`;
className += " flex flex-col";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./assets/favicon-32x32.png"
    />

    <meta name="author" content="Barrie Freyre" />

    <base href={base} />

    <meta name="linkedin" content="https://www.linkedin.com/in/barriefreyre/" />
    <meta name="github" content="https://github.com/barriedirk" />
    <meta
      name="frontendmentor"
      content="https://www.frontendmentor.io/profile/barriedirk"
    />

    <link rel="me" href="https://www.linkedin.com/in/barriefreyre/" />
    <link rel="me" href="https://github.com/barriedirk" />
    <link rel="me" href="https://www.frontendmentor.io/profile/barriedirk" />

    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Person",
        "name": "Barrie Freyre",
        "url": "",
        "sameAs": [
          "https://www.linkedin.com/in/barriefreyre/",
          "https://github.com/barriedirk",
          "https://www.frontendmentor.io/profile/barriedirk"
        ]
      }
    </script>

    <!-- dialog-polyfill from Google. To mimics native -->
    <!-- <link
      rel="stylesheet"
      href="https://unpkg.com/dialog-polyfill@0.5.6/dist/dialog-polyfill.css"
    />
    <script
      src="https://unpkg.com/dialog-polyfill@0.5.6/dist/dialog-polyfill.js"
    ></script> -->

    <title>{title}</title>
    <ClientRouter />
  </head>
  <body class={className}>
    <Header isStartSlideShow={isStartSlideShow} />
    <main>
      <slot />
    </main>
    {showFooter && <Footer />}

    <dialog id="modal-dialog" class="modal-dialog hide-scrollbar">
      <form method="dialog" class="text-right mb-2">
        <button
          class="modal-dialog-button text-preset-3-mobile uppercase"
          type="submit">Close</button
        >
      </form>
      <div id="modal-dialog-container" class="modal-dialog-container"></div>
    </dialog>
  </body>
</html>

<script>
  const initializePage = () => {
    window.addEventListener("load", () => {
      document.body.classList.add("fade-in");
    });
  };

  initializePage();

  document.addEventListener("astro:after-swap", () => {
    setTimeout(() => {
      document.querySelector("body")!.classList.add("fade-in");
    }, 300);
  });
</script>
